.headerContainer{
    display: flex;
    position: fixed;
    top: 0em;
    background-color: rgba(30,30,30);
    width: 100%;
    opacity: 90%;
    height:auto;
    z-index: 3;
}

@media screen and (max-width: 500px){
    .headerContainer{
        justify-content: space-between;
    }
}