@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.history{
    font-family: 'Poppins', sans-serif;
    color: #302d2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bannerHistory{
    width: 60%;
}

.pHistory{
    padding: 50px;
}

@media screen and (max-width: 768px){
   .history{
       flex-direction: column;
   }

   .bannerHistory{
    width: 90%;
    margin-left: 10%;
   }
   
   .pHistory{
       padding-top: 10px;
   }
}
