@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#btMenu{
    display: none;
}

.navResposinvo{
    display: none;
}

.logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: 10%;
}

.simbolLogo{
    width: 45px;
    height: 45px;
    margin: 3px;
    cursor: pointer;
}

.sublimeLogo{
    width: 80%;
    height: 10px;
    margin: 3px;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.menuHamburguer{
    display: none;
}

@media screen and (max-width: 752px){
    .logo{
        width: 15%;
    }

    .nav{
        width: 85%;
    }
}

@media screen and (max-width: 500px){
    .logo{
        width: 50%;
    }

    .nav{
        justify-content: flex-end;
        padding-right: 20px;
    }

    .menuHamburguer{
        display: flex;
        width: 30%;
        color: #cdc3a5;
    }

    .navResposinvo{
        display: flex;
        font-family: 'Montserrat' sans-serif;
        font-weight: bold;
        color:#cdc3a5;
        font-size: 14px;
        position: absolute;
        left: -100%;
        top: 74px;
        transition: all .7s;
        flex-direction: column;
        background-color: rgb(34, 29, 29);
        width: 100%;
        margin:0%;
        padding: 0%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #btMenu:checked ~ .navResposinvo{
        position: absolute;
        left:0%;
        top: 70px;

    }

    .linkNav{
        text-decoration: none;
        color: inherit;
    }
    
    .labelName{
        
        font-size: 1.7em;
    }
}